/* palette : https://colorhunt.co/palette/cc9b6df1ca89f2dac3c8c2bc */
/* CC9B6D, F1CA89, F2DAC3, C8C2BC */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

/* font-family: 'Dancing Script', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'League Spartan', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif Vithkuqi', serif;
font-family: 'Proza Libre', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5e6d8;
    min-height: 400px;
}

@media only screen and (max-width: 400px) {
    body {
        min-height: 4500px;
    }
}

.active {
    font-weight: bold;
}

.navbar {
    background-color: #cc9b6d;
    color: white;
    position: relative;
}

.container-fluid {
    width: 85%;
}

.navbar .navbar-brand {
    color: white;
}

.nav-item,
.nav-item .dropdown-item {
    transition: 0.3s;
}

.nav-item:hover {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 1px 5px black;
    /* border: 1px solid black; */
}

.nav-item .dropdown-item:hover {
    /* box-shadow: 0px -0.5px 5px black; */
    font-size: 1.2rem;
    font-weight: bold;
}

section h1 {
    font-family: "Dancing Script", cursive;
    font-size: 5rem;
}

#hero-section {
    margin-top: 25vh;
    height: 70vh;
}
#hero-section h1 {
    width: 100%;
    overflow: hidden; /* Ensures the content is not revealed until the animation */

    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */

    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#hero-section ul {
    text-decoration: none;
    list-style-type: none;
    display: inline;
}
#hero-section li {
    display: inline;
}

#hero-section i {
    position: absolute;
    bottom: 10vh;
    /* animation: angle-down-jumping 2s infinite; */
}

@keyframes angle-down-jumping {
    0% {
        bottom: 10vh;
    }
    60% {
        bottom: 5vh;
    }
}

#play-lagu {
    height: 100vh;
    padding-top: 15vh;
}
#play-lagu .container-fluid {
    border-radius: 20px;
    padding: 50px 10px;
    background-color: #f2dac3;
    /* background: white; */
}
#play-lagu i {
    /* position: relative;
    left: 50%;

    bottom: -20vh; */
}

#about {
    height: 100%;
    padding: 1.5rem 0;
    background-color: #f1ca89;
}

#about h1,
#about h3 {
    text-align: center;
}
#about p {
    text-align: justify;
}

#favorite h3 {
    text-align: center;
    width: auto;
    padding-bottom: 5px;
    border-bottom: 2px solid #f1ca89;
}

.two-year p {
    font-size: 1.2rem;
}
